@import "./node_modules/bulma/sass/utilities/initial-variables"
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic)

$blue-rwx: #283C54
$blend-rwx: #1B2838
$brown-rwx: #544028

$primary: $blue-rwx
$family-sans-serif: Ubuntu,Arial,Helvetica,sans-serif

.navbar.is-rwx
  background-color: $blue-rwx
  color: $white
  .navbar-brand
    .navbar-item
      background-color: $blue-rwx
      color: grey
      outline-style: none
      &.title
        background-color: $brown-rwx
        border-color: $brown-rwx
        color: lightgray
        font-weight: 700
        font-size: 1.05em
        margin-bottom: 0px
        &:hover
          background-color: $brown-rwx
          border-color: $brown-rwx
          color: $white
      &:hover
        background-color: darken($blue-rwx, 5%)
        color: white
    .navbar-burger
      background-color: $blue-rwx
      border-color: $blue-rwx
      color: $white
      box-shadow: 0 0 0 0
      &:hover
        background-color: $brown-rwx
        border-color: $brown-rwx
  .navbar-menu
    background-color: $blue-rwx
    .navbar-start
      a.navbar-item:hover
        color: $white
        background-color: darken($blue-rwx, 5%)
      .navbar-item
        outline-style: none
        &.has-dropdown:hover
          .navbar-link
            background-color: darken($blue-rwx, 5%)
        color: grey
        &.is-active
          background-color: $brown-rwx
          color: $white
        .navbar-link
          color: grey
          &:hover
            color: $white
            background-color: darken($blue-rwx, 5%)
        .navbar-dropdown
          background-color: $blue-rwx
    .navbar-end
      a.navbar-item:hover
        color: $white
        background-color: darken($blue-rwx, 5%)
      .navbar-item
        outline-style: none
        &.has-dropdown:hover
          .navbar-link
            background-color: darken($blue-rwx, 5%)
        color: grey
        &.is-active
          background-color: $brown-rwx
          color: $white
        .navbar-link
          color: grey
          &:hover
            color: $white
            background-color: darken($blue-rwx, 5%)
        .navbar-dropdown
          background-color: $blue-rwx

@import "./node_modules/bulma/bulma"
@import './node_modules/bulma-extensions/bulma-accordion/dist/bulma-accordion';
@import './node_modules/bulma-extensions/bulma-badge/dist/bulma-badge';
@import './node_modules/bulma-extensions/bulma-calendar/dist/bulma-calendar';
@import './node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel';
@import './node_modules/bulma-extensions/bulma-checkradio/dist/bulma-checkradio';
@import './node_modules/bulma-extensions/bulma-divider/dist/bulma-divider';
@import './node_modules/bulma-extensions/bulma-iconpicker/dist/bulma-iconpicker';
@import './node_modules/bulma-extensions/bulma-pageloader/dist/bulma-pageloader';
@import './node_modules/bulma-extensions/bulma-pricingtable/dist/bulma-pricingtable';
@import './node_modules/bulma-extensions/bulma-quickview/dist/bulma-quickview';
@import './node_modules/bulma-extensions/bulma-ribbon/dist/bulma-ribbon';
@import './node_modules/bulma-extensions/bulma-slider/dist/bulma-slider';
@import './node_modules/bulma-extensions/bulma-steps/dist/bulma-steps';
@import './node_modules/bulma-extensions/bulma-switch/dist/bulma-switch';
@import './node_modules/bulma-extensions/bulma-tagsinput/dist/bulma-tagsinput';
@import './node_modules/bulma-extensions/bulma-timeline/dist/bulma-timeline';
@import './node_modules/bulma-extensions/bulma-tooltip/dist/bulma-tooltip';


  
